*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 20px 100px;
}

body > header{
    background-color: rgb(222, 32, 240);
    height: 150px;
    width: 100%;
    margin-bottom: 30px;
}

main section:first-child{
    background-color: rgb(221, 221, 107);
    height: 400px;
    width: 100%;
    margin-bottom: 30px;
}

section > header{
    background-color: rgb(84, 164, 240);
    height: 100px;
    width: 100%;
}

div#container.clearfix{
    background-color: rgb(70, 46, 173);
    height: 600px;
    width: 100%;
    margin-bottom: 10px;
}

#container{
    padding: 20px 0;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.aside-article{
    background-color: rgb(84, 164, 240);
    height: 100%;
    width: calc(35% / 2);
}

.float-left{
    float: left;
}

#middle-article{
    background-color: rgb(84, 164, 240);
    height: 100%;
    margin: 0 25px;
    width: calc(65% - 50px);
}

footer{
    background-color: rgb(123, 40, 131);
    height: 60px;
    width: 100%;
}
